<template>
  <v-container>
    <div>
      <div class="text-center">
        <v-btn-toggle
          v-model="categorySelected"
          v-for="(category) in products.aggregations.filter_category_lv1.buckets"
          :key="category.id"
          color="blue accent-3"
          group
        >
          <v-btn :value="category.key">{{category.title}}</v-btn>
        </v-btn-toggle>
      </div>
      <div v-if="categorySelected===''">
        <div class="row">
          <div
            class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3"
            v-for="product in products.products"
            :key="product.id"
          >
            <product-component v-bind="product"></product-component>
          </div>
        </div>
        <v-pagination v-model="page" :length="getTotalPage()"></v-pagination>
      </div>
      <div v-else>
        <div class="row">
          <div
            class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3"
            v-for="product in productsCate.products"
            :key="product.id"
          >
            <product-component v-bind="product"></product-component>
          </div>
        </div>
        <v-pagination v-model="page" :length="getTotalPageCate()"></v-pagination>
      </div>
    </div>
  </v-container>
</template>

<script>
import ProductComponent from "./ProductComponent";
import axios from "axios";
// import { _ } from "vue-underscore";
export default {
  name: "ProductsComponent",
  components: {
    ProductComponent,
  },
  props: {
    data: String,
  },
  data() {
    return {
      dataApi: [],
      products: {},
      productsCate: {},
      baseUrl: "https://api.thitruongsi.com/v2/search/products/?",
      apiUrl: "",
      finalUrl: "",
      loading: true,
      page: 1,
      perPage: 4,
      pageUrl: "",
      // categories: [],
      categorySelected: "",
      cateUrl: "",
    };
  },
  computed: {
    getPage() {
      return this.page;
    },
    getCategorySelected() {
      return this.categorySelected;
    },
  },
  watch: {
    getPage() {
      if (this.page != 1) {
        this.pageUrl = `&offset=${(this.page - 1) * this.perPage}`;
      } else this.pageUrl = "&offset=0";
      this.scrollToTop();
      this.loading = true;
    },
    getCategorySelected() {
      this.page = 1;
      this.cateUrl = `&filter_category_lv1=${this.categorySelected}`;
    },
  },
  methods: {
    scrollToTop() {
      window.scrollTo({ top: 0, left: 0, behavior: "smooth" });
    },
    getTotalPage() {
      return Math.ceil(this.products.total / this.perPage);
    },
    getTotalPageCate() {
      return Math.ceil(this.productsCate.total / this.perPage);
    },
    decodeJson(json) {
      this.dataApi = JSON.parse(json);
      this.apiUrl = Object.keys(this.dataApi)
        .map((key) => key + "=" + this.dataApi[key])
        .join("&");
      return (this.finalUrl =
        this.baseUrl + this.apiUrl + this.pageUrl + this.cateUrl);
    },
    getProduct() {
      axios
        .get(this.decodeJson(this.$props.data))
        .then((response) => {
          if (this.categorySelected == "") {
            this.products = response.data;
          } else this.productsCate = response.data;
          this.loading = false;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    resetCategory() {
      this.categorySelected = "";
    },
    // getCategory() {
    //   axios
    //     .get("https://api.thitruongsi.com/v2/product/categories.json?level=1")
    //     .then((response) => {
    //       this.categories = response.data;
    //       this.loading = false;
    //     })
    //     .catch((error) => {
    //       console.log(error);
    //     });
    // },
  },
  created() {
    this.getProduct();
    // this.getCategory();
  },
  mounted() {},
  updated() {
    this.getProduct();
  },
};
</script>
