<template>
  <div>
    <v-hover v-slot:default="{ hover }">
      <v-card class="mx-auto" :elevation="hover ? 12 : 2" max-width="400">
        <a :href="'https://thitruongsi.com/'+slug+'-'+product_id+'.html'" :title="title">
          <v-img
            class="white--text align-end"
            height="250px"
            :src="'https://scdn.thitruongsi.com/image'+featured_image_thumb"
          >
            <v-btn
              elevation="5"
              class="m-1 text-decoration-none"
              color="warning"
              small
              rounded
              v-bind:style="{top:'0',position:'absolute',opacity:'0.9'}"
            >
              <span class="font-weight-bold">-{{discount}}%</span>
            </v-btn>
            <template v-slot:placeholder>
              <v-row class="fill-height ma-0" align="center" justify="center">
                <v-progress-circular indeterminate color="black"></v-progress-circular>
              </v-row>
            </template>
            <v-btn
              elevation="10"
              class="m-1 float-right text-decoration-none"
              color="primary"
              small
            >Mua ngay</v-btn>
          </v-img>
        </a>

        <a
          class="text-decoration-none text-dark"
          :href="'https://thitruongsi.com/'+slug+'-'+product_id+'.html'"
          :title="title"
        >
          <v-card-title
            class="text-center font-weight-bold"
            v-bind:style="{ 
              color:'black',
              overflow: 'hidden',
              textOverflow: 'ellipsis',
              display: '-webkit-box',
              lineHeight: '25px',
              height: '65px',
              WebkitLineClamp:2,
              WebkitBoxOrient: 'vertical',
              fontSize:'1rem',
              wordBreak: 'break-word'
              }"
          >{{titleTransformer(title)}}</v-card-title>
        </a>

        <v-divider class="mx-4 pb-0 mb-0"></v-divider>

        <v-card-text class="text--primary">
          <div class="row no-gutters">
            <div
              class="col-md-12 text-danger font-weight-bold no-gutters"
              v-bind:style="{
            fontSize:'1rem'
          }"
            >
              {{priceFormat(price)}}
              <span class="text-decoration-underline">đ</span>
            </div>
            <div
              class="col-md-12 no-gutters"
              v-bind:style="{
            fontSize:'0.85rem'
          }"
            >
              <del>{{priceFormat(compare_at_price)}}đ</del>
              <span>/{{unit_name}}</span>
            </div>
          </div>
          <div>Mua tối thiểu: {{min_order_quantity}} {{unit_name}}</div>
          <div v-if="shopDetail!=null" class="font-weight-bold text-center">
            <a
              :href="'https://thitruongsi.com/shop/'+shopDetail.data.shop.slug"
              class="text-decoration-none"
              v-bind:style="{color:'black',
              overflow: 'hidden',
              textOverflow: 'ellipsis',
              display: '-webkit-box',
              WebkitLineClamp:1,
              WebkitBoxOrient: 'vertical',
              }"
              :title="'Nhà cung cấp: '+shopDetail.data.shop.name"
            >
              <div
                v-if="shopDetail.data.shop.owner.is_vip===true&&shopDetail.data.shop.owner.is_verified===true"
              >
                <img
                  src="https://thitruongsi.com/images/icon_business_small.png?v=1"
                  v-bind:style="{
              height:'20px'
            }"
                />
              </div>
              <div v-else>
                <img
                  src="https://thitruongsi.com/images/icon_vip3.png"
                  v-bind:style="{
              height:'20px'
            }"
                />
              </div>
              {{shopDetail.data.shop.name}}
            </a>
          </div>
        </v-card-text>
      </v-card>
    </v-hover>
  </div>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      shopDetail: null,
    };
  },
  props: {
    title: String,
    featured_image_thumb: String,
    slug: String,
    product_id: Number,
    price: Number,
    compare_at_price: Number,
    unit_name: String,
    min_order_quantity: Number,
    shop_id: String,
    discount: Number,
  },
  methods: {
    titleTransformer(str) {
      var words = str.split(" ");
      var arr = [];
      var temp = [];
      for (var i in words) {
        temp = words[i].toLowerCase();
        temp = temp.charAt(0).toUpperCase() + temp.substring(1);
        arr.push(temp);
      }
      return arr.join(" ");
    },
    getShop() {
      axios
        .get(
          `https://api.thitruongsi.com/v1/user/api/shop/${this.$props.shop_id}`
        )
        .then((response) => {
          this.shopDetail = response.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    priceFormat(price) {
      return new Intl.NumberFormat("de-DE").format(price);
    },
  },
  created() {
    this.getShop();
  },
  mounted() {},
};
</script>

<style lang="scss" scoped>
</style>