<template>
  <div>
    <div class="text-center p-2" v-if="loading==true">
      <v-progress-circular indeterminate color="black"></v-progress-circular>
      <span class="pl-2">Đang tải danh sách sản phẩm.</span>
    </div>
    <div v-else>
      <div v-for="component in allComponent" :key="component.id">
        <!-- <div v-if="component.type=='image'">
        <images-component v-bind="component"></images-component>
        </div>-->
        <v-container v-if="component.type==='product'">
          <products-component v-bind="component"></products-component>
        </v-container>
      </div>
    </div>
  </div>
</template>

<script>
import ProductsComponent from "./ProductsComponent";
// import ImagesComponent from "./ImagesComponent";
import axios from "axios";
import { _ } from "vue-underscore";
export default {
  name: "UserComponent",
  components: {
    ProductsComponent,
    // ImagesComponent,
  },
  data() {
    return {
      allComponent: [],
      loading: true,
    };
  },
  methods: {
    getLanding() {
      axios
        .get(
          `http://localhost/api/user/landing-page/${this.$route.params.slug}`
        )
        .then((response) => {
          this.landingPage = response.data;
          this.getComponent(this.landingPage.id);
        })
        .catch((error) => console.log(error));
    },
    getComponent(id) {
      axios.get(`http://localhost/api/component/${id}`).then((response) => {
        this.allComponent = response.data;
        this.allComponent = _.sortBy(this.allComponent, "order");
        this.loading = false;
      });
    },
  },
  created() {
    this.getLanding();
  },
};
</script>
